@model LearningEnglishWeb.ViewModels.Training.TranslateWordQuestionModel


<div class="trainingArea">
    @await Html.PartialAsync("TranslateWordTrainingQuestion", Model)   
</div>


@section Scripts {

<script src="~/js/training.js">  
</script>

}