@model LearningEnglishWeb.ViewModels.Training.TranslateWordQuestionModel


<div class="trainingArea trainingArea  shadow-lg p-5 mb-5 bg-white rounded">
    @await Html.PartialAsync("TranslateWordTrainingQuestion", Model)   
</div>


@section Scripts {

<script src="~/js/training.js">  
</script>

}