@model QuestionModel


<div class="trainingArea" data-request-controller-url="@Url.Action("")">
    @await Html.PartialAsync("TranslateWordTrainingQuestion", Model)   
</div>


@section Scripts {
<script src="~/js/training.js">  
</script>

<script>
    var z = new training('@Url.Action("CheckAnswer")', '@Url.Action("GetNextQuestion")');
    z.subscribeOnEvents();
</script>

}