@model LearningEnglishWeb.ViewModels.Training.TranslateWordQuestionModel



<p> @Model.Word </p>
<label>
    Введите перевод
    <input type="text" />
</label>
<button data-request-url="@Url.Action("CheckAnswer")" class="checkAnswerBtn dontKnowBtn">Не знаю</button>