@using LearningEnglishWeb.Helpers
@model LearningEnglishWeb.ViewModels.Training.TranslateWordAnswerResult


<p>@Model.Word</p>

@Html.CreateTranslateWordTrainingAnswerResult(@Model, Url.Action("GetNextQuestion"))
