@model LearningEnglishWeb.Areas.Training.ViewModels.Abstractions.TrainingViewModel<LearningEnglishWeb.Areas.Training.ViewModels.ChooseTranslate.ChooseTranslateQuestionViewModel>


    <div class="trainingArea container ct" data-isreverse="@Model?.IsReverse">
        @if (Model != null)
        {
            <input id="trainingId" type="hidden" value="@Model.TrainingId" />
            @await Html.PartialAsync("ChooseTranslateTrainingQuestion", Model.CurrentQuestion)
        }
        else
        {
            @await Html.PartialAsync("../Training/TrainingComplete")
        }
    </div>


@section Scripts {
    <script type="module">
        import { TrainingBase } from "../js/training.js";

        (function () {

            let isReverse = document.querySelector('.trainingArea').dataset['isreverse'] == "True";
            let trainingId = document.querySelector('#trainingId').value;
            let training = new TrainingBase(trainingId, isReverse);

            $(document).on('click', '.trainingArea button.answerBtn ', function () {
                training.checkAnswer(this.dataset.requestUrl, this.innerText);
            });

        })();
    </script>
}