@model LearningEnglishWeb.ViewModels.Training.ChooseTranslateQuestionModel


<div class="trainingArea container shadow-lg p-5 mb-5 bg-white rounded" data-isreverse="@Model.IsReverse">
    <input id="trainingId" type="hidden" value="@Model.TrainingId"/>
   
    @await Html.PartialAsync("ChooseTranslateTrainingQuestion", Model)
</div>


@section Scripts {
    <script>
    
        (function () {
            
            let isReverse = document.querySelector('.trainingArea').dataset['isreverse'] == "True";
            let trainingId = document.querySelector('#trainingId').value;
            let training = new TrainingBase(trainingId,isReverse);
        } )();
    </script>
}