@model LearningEnglishWeb.ViewModels.Training.CollectWordAnswerViewModel
@{
    ViewData["Title"] = "CollectWordTrainingAnswerResult";
}


@if (!Model.IsCorrectAnswer)
{
    <div class="cwRightAnswerArea">
        <h3>@Model.RigtAnswer </h3>
    </div>
}

<div class="userAnswerArea cw">
    @foreach (var letter in Model.CollectWordAnswerResults)
    {
        <button class="letter m-1 btn @(@letter.IsRight ? "btn-success" : "btn-danger") " disabled> @letter.Letter </button>
    }
</div>

<div class="actionArea">
    <button class="nextAnswerBtn btn btn-primary btn-lg pr-5 pl-5 text-center" data-request-url="@Url.Action("GetNextQuestion")"> Следующий вопрос </button>
</div>

