@using Microsoft.AspNetCore.Identity
@using LearningEnglishWeb.Services;
@using LearningEnglishWeb.ViewModels;


@if (User.FindFirst(x => x.Type == "preferred_username") != null)
{

<div>

    <form asp-area="" asp-controller="Account" asp-action="SignOut" method="post" id="logoutForm" class="navbar-right">
        <strong class="text-primary">@User.FindFirst(x => x.Type == "preferred_username").Value </strong>
        <button type="submit" class="btn">Выйти</button>
    </form>  
   
</div>
}
else
{
<div>
    <a asp-area="" asp-controller="Account" asp-action="SignIn">
        Войти
    </a>
</div>
}
