
<div class="container mt-4">
  <div class="row">
    <div class="col-sm card pt-5 pb-5">
      <div class="card-body text-center">
        <button class="btn btn-block"> англо-русский перевод</button>
      </div>
    </div>
    <div class="col-sm card mr-2 pt-5 pb-5">
      <div class="card-body text-center">
        <button class="btn btn-block"> русско-английский перевод</button>
      </div>
    </div>
    <div class="col-sm card pt-5 pb-5">
      <div class="card-body text-center">
        <button class="btn btn-block" [routerLink]="['chooseTranslate']">выбор перевода англо-русский </button>
      </div>
    </div>
    <div class="col-sm card pt-5 pb-5">
      <div class="card-body text-center">
        <button class="btn btn-block"  [routerLink]="['chooseTranslate/isReverse']">выбор перевода русско-английский</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm card pt-5 pb-5 mt-2 mr-2">
      <div class="card-body text-center">
        <button class="btn btn-block" [routerLink]="['collectWord']">cобери русское слово</button>
      </div>
    </div>
    <div class="col-sm card pt-5 pb-5 mt-2 mr-2">
      <div class="card-body text-center">
        <button class="btn btn-block" [routerLink]="['collectWord/isReverse']">cобери английское слово</button>
      </div>
    </div>
    <div class="col-sm card pt-5 pb-5 mt-2 mr-2">
      <div class="card-body text-center">
        <button class="btn btn-block">тренировка 6</button>
      </div>
    </div>
    <div class="col-sm card pt-5 pb-5 mt-2">
      <div class="card-body text-center">
        <button class="btn btn-block">тренировка 7</button>
      </div>
    </div>
  </div>
</div>
