<div class="form-group">
  <input id="find-input" type="text" placeholder="Введите слово" class="form-control" [(ngModel)]="wordMask">
  <button class="btn btn-success float-right m-2 add-word-button" type="button" (click)="getTranslations()"  [class.invisible]="wordMask.length <= 0"> добавить </button>
</div>


<div>
  <p *ngFor="let translation of wordMaskTranslation"> {{translation}}</p>
</div>


<table class="table">
  <thead>
    <tr>
      <th>Слово</th>
      <th>Транскрипция</th>
      <th>Перевод</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let word of words">
      <td> {{word.name}}</td>
      <td> {{word.transcription}}</td>
      <td> {{word.translation}}</td>
      <td class="text-right"> <button class="btn btn-danger">удалить</button></td>
    </tr>
  </tbody>
</table>
