
@{
    ViewData["Title"] = "Index";
}

<h3>Выберите файл для загрузки</h3>


<form asp-action="AddFile" asp-controller="Administrator" method="post" enctype="multipart/form-data">
    <input type="file" name="uploadedFile" /><br>
    <input type="submit" value="Загрузить" />
</form>