@model LearningEnglishWeb.ViewModels.Vocabulary.TranslationListModel

@if (!@Model.Translations.Any())
{
    <p>у нас таких слов нет, добавьте свой вариант </p>
}



@foreach (var item in Model.Translations)
{
    <h5> <a class="add-word-btn" href="#" data-request-url="@Url.Action("AddWord", "Vocabulary")">@item </a> </h5>
}

<button class="switch-own-word-btn btn btn-secondary">
      Другое 
</button>


