@using LearningEnglishWeb.Models
@model IEnumerable<Word>
@{
    ViewData["Title"] = "Vocabulare Page";
}


<div>


    <input id="find-input" type="text" placeholder="Найти" />
    <input class="add-word-button" type="button" value="add" />

    <div id="available-words">
    </div>

    <div id="partial">
        @await Html.PartialAsync("WordList")
    </div>


</div>

@section Scripts {
    <script>
    (function () {

        var input = document.querySelector("#find-input");
        input.addEventListener("input", function (event) {
            toogleButton(this.value);
            refreshArea(this.value);
        }, false);


        let addButton = document.querySelector(".add-word-button");



        $(document).on('click', '.translation-word', function () {


            $.ajax({
                url: '@Url.Action("AddWord", "Vocabulary")',
                type: 'POST',
                data: { word: input.value, translation: this.innerText },
                success: function (res) {
                     location.reload();  
                }
            })
        });


        addButton.addEventListener('click', function () {
            $.ajax({
                url: '@Url.Action("TranslationList", "Vocabulary")',
                type: 'GET',
                data: { word: input.value },
                success: (res) => {
                    var area = document.querySelector('#available-words');
                    area.innerHTML = res;
                }
            });
        });


        function toogleButton(str) {
            let button = document.querySelector(".add-word-button");
            if (str.length > 0) {
                button.style.visibility = "visible";
            } else {
                button.style.visibility = "hidden";
            }
        }

        function refreshArea(str) {
            $.ajax({
                url: '@Url.Action("WordList", "Vocabulary")',
                type: 'GET',
                data: { mask: str },
                success: (res) => {
                    var refreshArea = document.querySelector("#partial");
                    refreshArea.innerHTML = res;
                }
            });

        }

    })();
 </script>
}
