@model LearningEnglishWeb.ViewModels.Vocabulary.TranslationListModel

@if (!@Model.Translations.Any())
{
    <p>у нас таких слов нет, добавьте свой вариант </p>
}



<div></div>
@foreach (var item in Model.Translations)
{
    <a class="translation-word">@item </a>
    <br />
}

<button class="add-own-word-button btn btn-sm btn-secondary w-50 text-center">
    другое
</button>


