@using LearningEnglishWeb.ViewModels.Vocabulary
@model UserVocabularyViewModel
@{
    ViewData["Title"] = "UserVocabulary";
}

<input type="hidden" value="@Model.UserVocabulary.Id" id="vocabularyId"/>
<h3 class="text-center m-3"> @Model.UserVocabulary.Title </h3>


<div class="row justify-content-center">
    @await Html.PartialAsync("VocabularyWords", Model.UserWords)
</div>


@section Scripts {
    <script src="~/js/vocabulary.js">

    </script>
}

