<div class="form-group">
  <input id="find-input" type="text" placeholder="Введите слово" class="form-control" [(ngModel)]="wordMask">
  <button class="btn btn-success float-right m-2 add-word-button" type="button" (click)="getTranslations()" [class.invisible]="wordMask.length <= 0"> добавить </button>
</div>


<div (clickOutside)="onClickedOutside()" class="w-50 m-2 text-center shadow-lg p-3 mb-3 bg-white rounded" [class.invisible]="hideTranslationArea">
  <button *ngFor="let translation of wordMaskTranslation" class="btn btn-block" (click)="addWord(wordMask, $event.target.innerText)"> {{translation}}</button>
  <button class="btn btn-secondary">Другое</button>
</div>


<div class="mb-4 mt-4">
  <input type="checkbox" id="checkAll" />
  <span> Выбрать все слова </span>
  <button class="btn btn-sm btn-primary training-sw-btn"> Тренировать</button>
</div>

<div class="row justify-content-center">
  <div class="col">
    <table class="table table-hover words-table">
      <thead>
        <tr>
          <th style="width:2%"></th>
          <th colspan="3" class="text-center">Слово</th>
          <th>Транскрипция</th>
          <th>Перевод</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let userWord of words">
          <td> <input type="checkbox" /></td>
          <td class="p-0" style="width: 1%">
              <div class="thumbnail-wrapper">
                  <img class="img-thumbnail" [wordsm]="userWord.word" />
              </div>
          </td>
          <td class="pl-1 pr-1" style="width:6%;">
            <div class="progress">
              <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{userWord.trainingRatio}}%"  [attr.aria-valuenow]="userWord.trainingRatio" aria-valuemin="0" aria-valuemax="100">
  </div>
            </div>
          </td>
          <td class="pl-0">  {{userWord.word}}   <button class="btn p-0 ml-1" (click)="playWordAudio(userWord.word)"> <i class="fa fa-play text-success"></i> </button> </td>
          <td> {{userWord.transcription}} {{userWord.trainingRatio}}</td>
          <td>  {{userWord.translation}}  <button class="btn p-0 ml-1" (click)="playTranslationAudio(userWord.translation)"> <i class="fa fa-play text-success"></i> </button> </td>
          <td class="text-right"> <button class="btn btn-danger btn-sm">удалить</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
