@{
    ViewData["Title"] = "Training Page";
}

<div class="text-center">
    тренировка слов
</div>


<div class="container">
    <div class="row">
        <div class="col-sm trainingCard">
            <a>Тренировка 1</a>
      
        </div>
        <div class="col-sm trainingCard">
            <a>Тренировка 2</a>
        </div>
        <div class="col-sm trainingCard">
            <a>Тренировка 3</a>
        </div>
        <div class="col-sm trainingCard">
            <a>Тренировка 4</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm trainingCard">
            <a>Тренировка 5</a>
        </div>
        <div class="col-sm trainingCard">
            <a>Тренировка 6</a>
        </div>
        <div class="col-sm trainingCard">
            <a>Тренировка 7</a>
        </div>
    </div>

</div>
