@{
    ViewData["Title"] = "Training Page";
}

<div class="text-center">
    тренировка слов
</div>


<div class="container">
    <div class="row">
        <div  class="col-sm trainingCard">
            <a asp-action="Index" asp-controller="TranslateWordTraining">Перевод с английского на русский</a>      
        </div>
        <div class="col-sm trainingCard">
            <a>Перевод с русского на английский</a>
        </div>
        <div class="col-sm trainingCard">
            <a asp-action="Index" asp-controller="ChooseTranslateTraining">Выбор перевода англо-русский </a>
        </div>
        <div class="col-sm trainingCard">
            <a>Выбор перевода русско-английский</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm trainingCard">
            <a asp-action="Index" asp-controller="CollectWordTraining" >Собери слово</a>
        </div>
        <div class="col-sm trainingCard">
            <a>Тренировка 6</a>
        </div>
        <div class="col-sm trainingCard">
            <a>Тренировка 7</a>
        </div>
    </div>

</div>
