@{
    ViewData["Title"] = "Training Page";
}

<div class="text-center">
    <h4> тренировка слов </h4>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-6 p-3">
            <div class="trainingContainer">
                <a asp-action="Index" asp-controller="TranslateWordTraining" class="trainingBtn trainingTopBtn"> <span>  Русский </span> </a>
                <button class="trainingDesc" disabled> Перевод слова </button>
                <a asp-action="Index" asp-controller="TranslateWordTraining" asp-route-isReverseWay="true" class="trainingBtn trainingBotBtn"> <span>  Английский </span> </a>
            </div>
        </div>
        <div class="col-6 p-3">
            <div class="trainingContainer">
                <a asp-action="Index" asp-controller="ChooseTranslateTraining" class="trainingBtn trainingTopBtn"> <span>  Русский </span> </a>
                <button class="trainingDesc" disabled> Выбор перевода </button>
                <a asp-action="Index" asp-controller="ChooseTranslateTraining" asp-route-isReverseWay="true" class="trainingBtn trainingBotBtn"> <span>  Английский </span> </a>
            </div>
        </div>
        <div class="col-6 p-3">
            <div class="trainingContainer">
                <a asp-action="Index" asp-controller="CollectWordTraining" class="trainingBtn trainingTopBtn"> <span>  Русский </span> </a>
                <button class="trainingDesc" disabled> Собери слово </button>
                <a asp-action="Index" asp-controller="CollectWordTraining" asp-route-isReverseWay="true" class="trainingBtn trainingBotBtn"> <span>  Английский </span> </a>
            </div>
        </div>
        <div class="col-6 p-3">
            <div class="trainingContainer">
                <a href="#" class="trainingBtn trainingTopBtn"> <span>  Русский </span> </a>
                <button class="trainingDesc" disabled> Аудирование </button>
                <a href="#" class="trainingBtn trainingBotBtn"> <span>  Английский </span> </a>
            </div>
        </div>
    </div>
</div>

