@using LearningEnglishWeb.Models
@model TrainingSummarizingModel


<p> Правильных ответов @Model.RightQuestions из @Model.TotalQuestions </p>

<p> @Model.Summary </p>

<button class="newGameBtn"> Еще раз </button>
