
@{
    ViewData["Title"] = "TrainingComplete";
}

<div class="row align-items-center justify-content-center h-100">
    <div class="text-center col">
        <h3>Отсутствуют слова для выбранной тренировки</h3>
        <br />
        <br />
        <h4>Добавьте новые слова в свой словарь <br />  или приходите завтра для тренировки уже имеющихся </h4>
        <br />
        <a class="btn btn-primary w-50 mt-3" asp-controller="Training" asp-action="Index">К тренировкам </a>
    </div>
</div>

